node_modules
.DS_Store
notes.txt
instances/C4000.5.clq
instances/MANN_a81.clq
instances/frb59-26-5.clq
instances/frb59-26-4.clq
instances/frb59-26-1.clq
instances/frb59-26-3.clq
instances/frb59-26-2.clq
instances/frb100-40.clq
algo.pdf
